* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #141830;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .image {
    max-width: 300px;
    border-radius: 3px;
    animation: rotate 3s linear infinite;
}

.container .image img {
    border-radius: 10px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}